/public/bower_components
/public/plugins
/public/js/app.js
/public/dist
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
pagos_sublime.sublime-workspace
pagos_sublime.sublime-project
cabify-pagos.zip
